<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h2 mat-dialog-title>Edit user</h2>
    <mat-dialog-content>

        <div>
            <mat-form-field class="mr-16 pt-5" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput [disabled]="loading" [(ngModel)]="user.firstName" placeholder="Enter first name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput [disabled]="loading" matInput [(ngModel)]="user.lastName" placeholder="Enter last name">
            </mat-form-field>
        </div>  
        <div>
            <mat-form-field class="mr-16 pt-5 whole-width" appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input type="email" matInput [disabled]="loading" [(ngModel)]="user.email" placeholder="Enter E-Mail Address">
            </mat-form-field>
        </div>  

        <div>
            <mat-form-field class="pt-5 whole-width" appearance="outline">
                <mat-label>Birth Date</mat-label>
                <input matInput [disabled]="loading" [(ngModel)]="user.birthDate" placeholder="Enter birth date" [matDatepicker]="datepicker">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                </mat-datepicker>
            </mat-form-field>
        </div>

        
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="this.dialog.close()">Cancel</button>
        <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>

</div>