<mat-drawer-container class="mat-drawer-container" autosize>
  
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()">delete</mat-icon>
        <!-- <button type="button" matButton>
          Toggle sidenav
        </button> -->
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>

</mat-drawer-container>