.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0px 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 50px;
    }
}


mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;

    li {
        padding: 0px 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &:focus {
            outline: none;
        }

        mat-icon {
            margin-right: 16px;
        }
    }
}

.router-container {
    padding: 16px 56px;
}