.user-detail-header {
    height: 250px;
    background-color: darkgoldenrod;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    img {
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }

    >div {
        display: flex;

        >div {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin-left: 16px;
        }
    }
}

h2 {
    margin: 0;
}

.user-detail-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    >button {
        z-index: 1;
        color: white;
    }
}

.pin-right-top {
    position: absolute;
    right: 0;
    // cursor: pointer;
}