.add-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }


    th {
        color: rgba(0, 0, 0, .4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
        padding-left: 16px;
    }

    td {
        height: 48px;
        padding-left: 16px;
        border-bottom: 1px solid gray;
    }

}