/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pt-5 {
    padding-top: 5px;
}

.mr-16 {
    margin-right: 16px;
}

.whole-width {
    width: 100%;
}

.dialog-container {
    position: relative;
}